@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: "M PLUS 1p";
}
body{
  height: 100%;
}
.d-f{
 display: flex;
}

.d-f-ai-c{
  display: flex;
  align-items: center;
}

.f-w-500{
  font-weight: 500;
}

.f-w-400{
  font-weight: 400;
}

input {
  padding-left: 16px ;
  outline: none;
  border: none;
  width: 343px;
  height: 52px;
  border-radius: 12px;
  background: #F8F8F8;
}

.button-field{
  cursor: pointer;
  width: 343px;
  height: 50px;
  border-radius: 12px;
  background: #292929;
  color: white;
  font-size: 16px;
  line-height: 24px;
}
.password-field{
  position: relative;
}
.show-password{
  position: absolute;
  right: 8px;
  top: 10px;
  cursor: pointer;
}